<ion-header>
  <ion-toolbar>
    <ion-title>Trabalho de Ordenação - UFPA 2023</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item-group>
  <ion-item-divider>
    <ion-label>Questao 1.

    </ion-label>
  </ion-item-divider>

  <ion-item [routerLink]="['/questao1a']" routerLinkActive="router-link-active" >
    <ion-label>Letra A</ion-label>
  </ion-item>
  <ion-item [routerLink]="['/questao1b']" >
    <ion-label>Letra B</ion-label>
  </ion-item>
  <ion-item lines="none" [routerLink]="['/questao1c']">
    <ion-label>Letra C</ion-label>
  </ion-item>

  <ion-item [routerLink]="['/questao1d']">
    <ion-label>Letra D</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Letra E</ion-label>
  </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider>
    <ion-label>Questao 2</ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Letra A </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Belarus</ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Belgium</ion-label>
  </ion-item>
</ion-item-group>
